<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add_patients" method="POST">

        <label for="name" name="name">name:</label>
        <input type="name" name="name" required>

        <label for="age" name="age">age:</label>
        <input type="age" name="age" required>

        <label for="medicine" name="medicine">medicine_Fee:</label>
        <input type="medicine" name="medicine" required> 


        <button type="submit">Submit</button>
    </form>
</body>
</html>