<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor login</title>
</head>
<body>
    <h1>Doctor Login page</h1>
    <form action="/doctor_login" method="POST">
        
        <label for="email" name="email">Email:</label>
        <input type="email" name="email" required>

        <label for="Password" name="Password">Password:</label>
        <input type="Password" name="Password" required>

        <button type="submit">Submit</button>
    </form>
</body>
</html>